* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("https://i.pinimg.com/originals/40/f9/9d/40f99d95d3ed1b51f96b7ffe79dd1f22.png");
  background-size: cover;
}
.topnav {
  overflow: hidden;
  background-color: #5586c9;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #942b88;
  color: white;
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHSQdgCwhR64xyJS1gN_iZa4_PkzZwueKRuo_Usp_B5wFPp2xepUxF1boN3KNkJqDrI6A&usqp=CAU");
  backface-visibility: hidden;
  border-radius: 10%;
}

.front-face {
  transform: rotateY(180deg);
  border-radius: 10%;
}
